body {
  padding-top: 65px;
  font-family: 'Lato', sans-serif;
  background-color: #222831;
  color: white;
}

.form-area{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.title{
 margin:20px

}
.form-group{
  min-width:500px;
}
@media only screen and (max-width : 736px) {
  .form-group{
    min-width: 90vw;
  }

}

.loading-indicator{
  max-height:50px;
  max_width:50px;

}
html{
  padding-bottom:10em;
  font-family: 'Lato', sans-serif;
}
.chart-area{
  margin:25px;
  max-width:600px;
}
